{% extends 'layouts/_builder' %}

{% block content %}
{% include 'components/_header' with {heading: entry.title, nobg: true} %}
{% set faqs = craft.entries.section('faq').all() %}
{% if faqs|length %}
    <section>
        <div class="container my-12 md:my-16">
            <div id="accordionGroup" class="accordion">
                {% for faq in faqs %}
                    <div class="box-shadow mb-6 rounded-[30px]">
                        <h4 class="pr-5">
                            <button type="button" aria-expanded="false" class="accordion-trigger" aria-controls="section-{{ faq.id }}" id="accordion-{{ faq.id }}"><span class="accordion-title">{{ faq.title }}<span class="accordion-icon"></span></span></button>
                        </h4>
                        <div id="section-{{ faq.id }}" role="region" aria-labelledby="accordion-{{ faq.id }}" class="accordion-panel" hidden>
                            {{faq.mainContent}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}