{% set large = matrixBlock.getDescendants(1)|length % 3 == 0 ? false : true %}
<section>
    <div class="container my-12 md:my-16 lg:my-20 xl:my-24">
        {% if matrixBlock.heading %}<h2 class="text-center mb-12">{{ matrixBlock.heading }}</h2>{% endif %}
        <div class="gap-x-8 gap-y-6 grid {{ large ? 'md:grid-cols-2 md:w-3/4' : 'md:grid-cols-3 lg:w-5/6' }} mx-auto">
            {% for button in matrixBlock.getDescendants(1) %}
                <a href="{{ button.href }}" class="btn {{ large ? 'large' : 'medium' }}">
                    <span><h3 class="mb-0 text-center">{{ button.label }}</h3></span>
                </a>
            {% endfor %}
        </div>
    </div>
</section>