<section>
    <div class="container mb-24">
        <div class="grid grid-cols-2 gap-x-4 gap-y-16">
            {% for card in matrixBlock.getDescendants(1) %}
                <div class="border-blend">
                    <div class="px-8 pt-6 pb-12">
                        {% set icon = card.icon.one() %}
                        {% if icon %}<div class="flex items-center justify-center mx-auto mb-4" style="height:45px;width:70px;"><img src="{{ icon.url }}" alt="{{ icon.alt }}"/></div>{% endif %}
                        {% if card.heading %}<h3 class="text-center h-[100px]">{{ card.heading }}</h3>{% endif %}
                        {{ card.mainContent }}
                        {% if matrixBlock.href %}<div class="text-center"><a class="btn" href="{{ matrixBlock.href }}"><span>{{ matrixBlock.label ? matrixBlock.label : 'Learn More' }}</span></a></div>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>