<section>
    <div class="container my-24">
        <div class="border-blend">
            <div class="flex overflow-visible">
                <div class="w-1/2 py-12">
                    <div class="w-3/4 mx-auto">
                        {% if matrixBlock.heading %}
                            <p class="h1 mb-3">{{ matrixBlock.heading }}</p>
                        {% endif %}
                        {% if matrixBlock.subheading %}
                            <p class="h3">— {{ matrixBlock.subheading }}</p>
                        {% endif %}
                    </div>
                </div>
                {% set image = matrixBlock.image.one() %}
                <div class="w-1/2 bg-center bg-cover relative rounded-tr-[30px] rounded-br-[30px]" style="background-image:url({{ image ? image.url }}">
                    {% if matrixBlock.icon|length %}
                        {% set icon = matrixBlock.icon.one() %}
                        <img class="absolute -left-32 -bottom-24 w-5/6" src="{{ icon.url }}" alt="{{ icon.alt }}"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>