<section>
    <div class="container my-12 md:my-16 lg:my-20 xl:my-24">
        <div class="mx-auto text-center w-full md:w-2/3">
            {% if matrixBlock.heading %}<h2 class="text-center">{{ matrixBlock.heading }}</h2>{% endif %}
            {% if matrixBlock.mainContent %}<div class="lead">{{ matrixBlock.mainContent }}</div>{% endif %}
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8 md:mt-16">
            {% for card in matrixBlock.getDescendants(1) %}
                <div>
                    {% set icon = card.icon.one() %}
                    {% if icon %}
                        <div class="flex items-center justify-center mx-auto -mb-4 xl:-mb-6 h-[90px] w-[140px]">
                            <img src="{{ icon.url }}" alt="{{ icon.alt }}"/>
                        </div>
                    {% endif %}
                    <div class="border border-grey box-shadow rounded-[30px] py-8 px-8 xl:px-12">
                        <div>{{ card.mainContent }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if matrixBlock.href %}
            <div class="mt-8 md:mt-16 text-center">
                <a class="btn" href="{{ matrixBlock.href }}"><span>{{ matrixBlock.label ? matrixBlock.label : 'Learn More' }}</span></a>
            </div>
        {% endif %}
    </div>
</section>