{% if matrixBlock.mainContent and matrixBlock.secondaryContent %}
<section>
    <div class="container my-16">
        <div class="flex gap-x-10">
            <div class="w-1/2">{{ matrixBlock.mainContent }}</div>
            <div class="w-1/2">{{ matrixBlock.secondaryContent }}</div>
        </div>
    </div>
</section>
{% elseif matrixBlock.mainContent %}
<section>
    <div class="container my-16">
        <div class="w-2/3 {{ matrixBlock.alignment == 'left' ? '' : 'mx-auto text-center' }}">
            {% if matrixBlock.heading %}<h2>{{ matrixBlock.heading }}</h2>{% endif %}
            {{ matrixBlock.mainContent }}
            {% if matrixBlock.href %}<a class="btn" href="{{ matrixBlock.href }}"><span>{{ matrixBlock.label ? matrixBlock.label : 'Go to Purchase' }}</span></a>{% endif %}
        </div>
    </div>
</section>
{% endif %}